html, body {
    height: 95%;
}

#txaCodeEditor {
    position: absolute;
    resize: none;
    top: 6%;
    left: 25%;
    width: 70%;
    height: 93%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
}

#divLineNumbering {
    position: absolute;
    top: 6%;
    left: 20%;
    width: 5%;
    height: 94%;
    background-color: rgb(26, 114, 85);
}

#divWorkspace {
    position: absolute;
    top: 6%;
    left: 0%;
    width: 20%;
    height: 54%;
    background-color: rgb(172, 34, 34);
}

#divFunctionalOptions {
    position: absolute;
    top: 60%;
    left: 0%;
    width: 20%;
    height: 40%;
    background-color: rgb(133, 219, 20);
}

#divWidgetBox {
    position: absolute;
    top: 6%;
    left: 95.5%;
    width: 4.5%;
    height: 94%;
    background-color: rgb(219, 20, 209);
}

#divWorkspaceSearch {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 20%;
    height: 6%;
    background-color: rgb(34, 94, 172);
}

#divLineNumberingWidget {
    position: absolute;
    top: 0%;
    left: 20%;
    width: 5%;
    height: 6%;
    background-color: rgb(154, 184, 23);
}

#divCodeEditorSearch {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 70.5%;
    height: 6%;
    background-color: rgb(148, 221, 217)
}

#divThemeChanger {
    position: absolute;
    top: 0%;
    left: 95.5%;
    width: 4.5%;
    height: 6%;
    background-color: rgb(95, 54, 93);
}